.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: brown;
}

.button:disabled {
  background-color: brown;
  cursor: not-allowed;
}